<html>
<style>
    form{
        margin-top: 250px;
        text-align: center;
    }
    h3{
        text-align: center;
    }
    .shashi{
        text-align: center;
    }
    button {
        background-color:cyan;
        border: black;
        padding: 10px 22px;
        margin-left: 1150px;
      }
    
      input{
          background-color: aqua;
          padding: 10px 22px;
      }
</style>
<button>
    <a href="/">Home</a> </button> 
<form action="/record" method="post">
<input onclick="this.value='Recording.....' " type="submit" value="Start Recording"/>
</form>
<h3>NOTE:This Recording is for 5 sec </h3>
    </html>